// Variables

// Colors
$black: #000;
$white: #fff;

$primary: #b3a290;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$positive-light: #09e909;
$negative: #c10015;
$negative-light: #ff0000;
$info: #31ccec;
$warning: #f2c037;

// Border
$border-radius-lg: 8px;
